{% extends 'base.html.twig' %}

{% block title %} Mon Panier {% endblock %}

{% block body %}
<div class="MyDiv m-0 m-md-4 p-1 p-md-4 mt-2">
    <h2 class="text-center mb-4">Résumé de votre sélection</h2>

    {% if cart_session["idProduct"] is defined and cart_session.idProduct is not empty %}
        <table class="">
            <thead class="">
                <tr>
                    <th class="MyCell">Produit</th>
                    <th class="MyCell d-none d-md-table-cell">Description</th>
                    <th class="MyCell ">Stock</th>
                    <th class="MyCell ">Quantité</th>
                    <th class="MyCell ">Événement</th>
                    <th class="MyCell d-none d-md-table-cell">preparateur</th>
                    <th class="MyCell">X</th>
                </tr>
            </thead>
            <tbody>
                {% for key, id in cart_session.idProduct %}
                    <tr>
                        <td class="MyCell">{{ cart_session.nameProduct[key] }}</td>
                        <td class="MyCell d-none d-md-table-cell">{{ cart_session.descriptionProduct[key] }}</td>
                        <td class="MyCell">{{ cart_session.stockProduct[key] }}</td>
                        <td class="MyCell">{{ cart_session.quantity[key] }}</td>
                        <td class="MyCell">{{ cart_session.eventName[key] }}</td>
                        <td class="MyCell d-none d-md-table-cell">{{ cart_session.userName[key] }}</td>
                        <td class="MyCell">
                            <a href="{{ path('app_cart_remove', {'index': key}) }}" class="btn btn-danger">X</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning text-center">Aucun produit sélectionné.</div>
    {% endif %}

    <div class="text-center mt-4">
        <a href="{{ path('app_cart_add_all') }}" class="btn btn-primary">valider la commande</a>
        <a href="{{ path('app_product_index') }}" class="btn btn-primary">Continuer les achats</a>
        <a href="{{ path('app_cart_clear') }}" class="btn btn-danger">Vider le panier</a>
    </div>
</div>
{% endblock %}
