{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>Montage</th>
                <th>Start Event</th>
                <th>End SHOW</th>
                <th>Fin de Démontage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.dateMontage ? event.dateMontage|date('Y-m-d') : '' }}</td>
                <td>{{ event.dateStartShow ? event.dateStartShow|date('Y-m-d') : '' }}</td>
                <td>{{ event.dateEndSHOW ? event.dateEndSHOW|date('Y-m-d') : '' }}</td>
                <td>{{ event.dateEnd ? event.dateEnd|date('Y-m-d') : '' }}</td>
                <td>
                    <button class="bg-success"><a href="{{ path('app_event_show', {'id': event.id}) }}">show</a></button>
                    <button class="bg-warning"><a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a></button>
                    {% if is_granted('ROLE_ADMIN') %}
                    <button class="bg-danger"><a href="{{ path('app_event_delete', {'id': event.id}) }}" onclick="return confirm('Are you sure?')">delete</a></button>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>

{% endblock %}
