{% extends 'base.html.twig' %}

{% block title %}Gestion des événements de site
{% endblock %}

{% block body %}
	<style>
	a {
		color: white;
		text-decoration: none;
	}
	</style>

	<h2 class="text-center m-2  ">Gestion des événements de site</h2>

	<a class="btn bg-success m-3" href="{{ path('app_event_new') }}">Créer</a>
	<div class="row col-12 justify-content-around ">
		{% for event in events %}

            
			{% set firstPicture = event.galeryPictures|first %}
         
			<div class=" m-4 p-0 MyDiv d-block" style="width: 18rem;">
             
				{% if firstPicture %}
					<img class="card-img-top"  style="width: 15rem; height: 12rem " src="{{ asset('uploads/pictures/' ~ firstPicture.picture) }}" alt="Image de l'event {{ event.name }}">
				{% else %}
					<img class="card-img-top" style="width: 15rem; height: 12rem " src="{{ asset('uploads/pictures/default.png') }}" alt="Default image">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ event.name }}</h5>
					<p class="card-text">Montage :
						{{ event.dateMontage ? event.dateMontage|date('d/m/Y') : '' }}</p>
					<p class="card-text">event :{{ event.dateStartShow ? event.dateStartShow|date('d/m/Y') : '' }}
						au
						{{ event.dateEndSHOW ? event.dateEndSHOW|date('d/m/Y') : '' }}</p>
					<p class="card-text">fin :{{ event.dateEnd ? event.dateEnd|date('d/m/Y') : '' }}
					</p>
					<button class="btn bg-success">
						<a href="{{ path('app_event_show', {'id': event.id}) }}">Voir</a>
					</button>
					<button class="btn bg-warning">
						<a href="{{ path('app_event_edit', {'id': event.id}) }}">Modifier</a>
					</button>
					{% if is_granted('ROLE_ADMIN') %}
						<button class="bg-danger">
							<a href="{{ path('app_event_delete', {'id': event.id}) }}" onclick="return confirm('Are you sure?')">delete</a>
						</button>
					{% endif %}
				</div>
			</div>

		{% endfor %}

	</div>


{% endblock %}
