{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="/css/home_calendar_styles.css">
{% endblock %} #}

{% block body %}
{% if app.user %}
    <h1 class="text-center">Bienvenue {{ app.user.firstName }}!</h1>
{% else %}
    <h1>Bienvenue!</h1>
{% endif %}

<div class="container-fluid p-3 col-12 "> 
    <div class="row justify-content-between">
        <!-- Statistiques des commandes -->
        <div class="col-md-3 col-3">
            <div class="card bg-dark text-white">
                <div class="card-header">Total des commandes</div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        {% for order in orderCounts %}
                            <li><span class="badge" style="background-color: ;">&nbsp;</span> {{ order.status }} : {{ order.total }}</li>
                        {% else %}
                            <li>Aucune commande trouvée</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- Calendrier -->
        <div class=" col-8">
            <div class="card">
                <div class="card-header bg-dark text-white">Planning des événements</div>
                <div class="card-body p-2" id="calendar-holder"></div>
            </div>
        </div>
    </div>
    
    <!-- Événements à venir -->
    <div class="row mt-4">
        <h2 class="text-white">Événements à venir :</h2>
        {% for event in events %}
            {% if event.dateMontage > date('now') %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="card event-card">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <p class="card-text">Montage : {{ event.dateMontage|date('d/m') }}</p>
                            <p class="card-text">Démontage : {{ event.dateEnd|date('d/m') }}</p>
                            <p class="card-text">Lieu : {{ event.site.city }}</p>
                            <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-primary">Détails</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar-holder');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: {{ data|raw }}
    });
    calendar.render();
});
</script>

{% endblock %}
