{% extends 'base.html.twig' %}

{% block title %}GaleryPicture index{% endblock %}

{% block body %}
    <h1>GaleryPicture index</h1>
{{dump(galery_pictures)}}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for galery_picture in galery_pictures %}
            <tr>
                <td>{{ galery_picture.id }}</td>
                <td><img width="70px" src="{{ asset('uploads/pictures/' ~ galery_picture.picture) }}" alt="photo"></td>
                <td>
                    <a href="{{ path('app_galery_picture_show', {'id': galery_picture.id}) }}">show</a>
                    <a href="{{ path('app_galery_picture_edit', {'id': galery_picture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_galery_picture_new') }}">Create new</a>
{% endblock %}
