{% extends 'base.html.twig' %}

{% block title %}SiteEvent{% endblock %}

{% block body %}
    <h2 class="text-center m-4">Site Event</h2>

        

     <div class="card m-4 p-0" style="width: 25rem;">


                <div class="card-body">
                    {% set firstPicture = site_event.galeryPictures|first %}
                    {% if firstPicture %}
                        <img class="card-img-top" src="{{ asset('uploads/pictures/' ~ firstPicture.picture) }}" alt="Image de l'event">
                    {% else %}
                        <img class="card-img-top" src="{{ asset('uploads/pictures/default.png') }}" alt="Default image">
                    {% endif %}
                    <h5 class="card-title">{{ site_event.name }}</h5>
                    <p class="card-text">Address : {{site_event.address}}</p>
                    <p class="card-text">Address : {{site_event.postalCode}}</p>
                    <p class="card-text">Address : {{site_event.city}}</p>
                    <p class="card-text">Address : {{site_event.description}}</p>
                        <div>
                            <a class="btn btn-success m-2" href="{{ path('app_site_event_index') }}">back to list</a>
                            <a class="btn btn-warning m-2" href="{{ path('app_site_event_edit', {'id': site_event.id}) }}">edit</a>
                        </div>
                </div>
            </div> 

             <div class="card m-4 p-0" style="width: 18rem;">
                <h3 class="text-center">contact</h3>
                {% for contact in site_event.contact %}      
                <div class="card-body">
                    {% set firstPicture = contact.galeryPictures %}
                    {% if firstPicture %}
                        <img class="card-img-top" src="{{ asset('uploads/pictures/' ~ firstPicture.picture) }}" alt="Image de l'event">
                    {% else %}
                        <img class="card-img-top" src="{{ asset('uploads/pictures/homme-67d152475f1fb-67ebf984bbc84.jpg') }}" alt="Default image">
                    {% endif %}
                    <h5 class="card-title">{{ contact.firstName }}</h5>
                    <p class="card-text">telephone : {{contact.phoneNumber}}</p>
                    <p class="card-text">email : {{contact.email}}</p>

                    {% endfor %}
                    
                </div>
            </div>   




    <div>
    {% for event in events %}
        <a href="{{ path('app_event_show', {'id': event.id}) }}">{{ event.name }}</a>
    {% endfor %}
    </div>

    {{ include('site_event/_delete_form.html.twig') }}
{% endblock %}
