{% extends 'base.html.twig' %}

{% block title %}EventDetail index
{% endblock %}

{% block body %}
	<h1 class="text-center m-2">Commande
	</h1>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}

	<div class="">
		<div class="">
			<form method="POST" action="{{ path('app_event_detail_index') }}" data-turbo="false">
				<select name="eventSelected">
					<option value="">Événement</option>
					{% for event in listEvents %}
						<option value="{{ event.1 }}">{{ event.name }}</option>
					{% endfor %}
				</select>

				<select name="statusSelected">
					<option value="">Sélectionner un statut</option>
					<option value="new">New</option>
					<option value="preparer">Préparer</option>
					<option value="livrer">Livrer</option>
					<option value="retour">Retour</option>
				</select>

				<select name="orderSelected">
					<option value="ASC">Croissant</option>
					<option value="DESC">Décroissant</option>
				</select>

				<button class="btn bg-success " type="submit">Filtrer</button>
			</form>
		</div>
	</div>
	<div>

		<div class="MyDiv">
			<form method="POST" action="{{ path('app_event_detail_update_all') }}" data-turbo="false">
				<button type="submit" class="btn btn-primary ">Valider les modifications</button>
				<table class="table  table-hover table-sm">

					<thead>
						<tr>
							<th class="CellStart">Événement</th>
							<th class="MyCell">
								<select name="statusAll" id="statusAll">
									<option value="">Statut global</option>
									<option value="new">New</option>
									<option value="bp">Préparer</option>
									<option value="bl">Livrer</option>
									<option value="br">Retour</option>
								</select>
							</th>
							<th class="MyCell">Préparateur</th>
							<th class="MyCell">Article</th>
							<th class="MyCell">Quantité</th>
							<th class="MyCell">Date</th>
							<th class="cellEnd">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for event_detail in event_details %}
							<tr>
								<td class="CellStart">{{ event_detail.event ? event_detail.event.name : 'N/A' }}</td>
								<td class="MyCell">
									<select name="statuses[{{ event_detail.id }}]" class="statusSelect">
										<option value="new" {% if event_detail.mouve == 'new' %} selected {% endif %}>New</option>
										<option value="preparer" {% if event_detail.mouve == 'bp' %} selected {% endif %}>Préparer</option>
										<option value="livrer" {% if event_detail.mouve == 'bl' %} selected {% endif %}>Livrer</option>
										<option value="retour" {% if event_detail.mouve == 'br' %} selected {% endif %}>Retour</option>
									</select>
								</td>
								<td class="MyCell">{{ event_detail.user ? event_detail.user.firstName : 'N/A' }}</td>
								<td class="MyCell">{{ event_detail.product ? event_detail.product.name : 'N/A' }}</td>
								<td class="MyCell"><input type='number' name="quantities[{{ event_detail.id }}]" value='{{ event_detail.quantity }}'></td>
								<td class="MyCell">{{ event_detail.date ? event_detail.date|date('Y-m-d') : '' }}</td>
								<td class="cellEnd">
									<a class="btn bg-danger" href="{{ path('app_event_detail_delete', {'id': event_detail.id}) }}">Supprimer</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">Aucun enregistrement trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>


			</form>
		</div>

	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
const statusAllSelect = document.getElementById("statusAll");
const statusSelects = document.querySelectorAll(".statusSelect");

statusAllSelect.addEventListener("change", function () {
statusSelects.forEach(select => {
select.value = this.value;
});
});
});
	</script>
{% endblock %}
