{% extends 'base.html.twig' %}

{% block title %}EventDetail{% endblock %}

{% block body %}
    <h1>EventDetail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event_detail.id }}</td>
            </tr>
            <tr>
                <th>Mouve</th>
                <td>{{ event_detail.mouve }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ event_detail.quantity }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ event_detail.date ? event_detail.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_event_detail_index') }}">back to list</a>

   

  
{% endblock %}
