{% extends 'base.html.twig' %}

{% block title %}Gestion des absences{% endblock %}

{% block body %}
    <h1 class="text-light">Gestion des absences</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td>{{ absence.id }}</td>
                <td>{{ absence.type }}</td>
                <td>{{ absence.startDate ? absence.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ absence.endDate ? absence.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ absence.comment }}</td>
                <td>
                    <a href="{{ path('app_absence_show', {'id': absence.id}) }}">Voir</a>
                    <a href="{{ path('app_absence_edit', {'id': absence.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_absence_new') }}">Créer
{% endblock %}
