{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<h1>Product</h1>

	<div class="row " style="justify-content space-around;">
		<div class="MyDiv m-3 " style="width: fit-content;">
			<div class="card-header">
				{% if product.picture is not null %}
					<img src="{{ asset('uploads/pictures/' ~ product.picture) }}" alt="Product Image" class="img-fluid" style="max-width: 100%; height: auto;">
				{% else %}
					<img src="{{ asset('uploads/pictures/default.png') }}" alt="Default Image" class="img-fluid" style="max-width: 100%; height: auto;">
				{% endif %}
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ product.name }}</h5>
				<p class="card-text">Description:
					{{ product.description }}</p>
				<p class="card-text">Category:
					{{ product.category.name }}</p>
				<p class="card-text">Stock initial:
					{{ product.stockInitial }}</p>
				<p class="card-text">Stock actuel:
					{{ product.stock }}</p>
				<p class="card-text">HS :
					{{ product.hs }}</p>
				<p class="card-text">Lost :
					{{ product.lost }}</p>
				<button class="">
					<a href="{{ path('app_product_edit',{'id' : product.id}) }}">edit</a>
				</button>
				<button class="">
					<a href="{{ path('app_product_index') }}">back to list</a>
				</button>

			</div>
		</div>


		<div id="calendar" class="MyDiv col-8 m-3"></div>
	</div>
	<!-- CSS FullCalendar -->
	<link
	href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet"/>

	<!-- JS FullCalendar global -->
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
const calendarEl = document.getElementById('calendar');

const calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'dayGridMonth',
locale: 'fr',
height: 'auto',
events: {{ calendarEvents|json_encode|raw }}
});

calendar.render();
});
	</script>

{% endblock %}
