{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h2>Contact index</h2>

    <table class="table">
        <thead>
            <tr>
                <th class="MyCell">Id</th>
                <th class="MyCell">FirstName</th>
                <th class="MyCell">LastName</th>
                <th class="MyCell">PhoneNumber</th>
                <th class="MyCell">Email</th>
                <th class="MyCell">Status</th>
                <th class="MyCell">action</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td class="MyCell">{{ contact.id }}</td>
                <td class="MyCell">{{ contact.firstName }}</td>
                <td class="MyCell">{{ contact.lastName }}</td>
                <td class="MyCell">{{ contact.phoneNumber }}</td>
                <td class="MyCell">{{ contact.email }}</td>
                <td class="MyCell">{{ contact.status }}</td>
                <td class="MyCell">
                    <a class="btn bg-success w-100" href="{{ path('app_contact_show', {'id': contact.id}) }}">show</a><br>
                    <a class="btn bg-warning w-100" href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_new') }}">Create new</a>
{% endblock %}
