{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h2>Contact</h2>

  <div class="MyDiv">
      
        
            <div>
                <p>Id : {{ contact.id }}</p>
            </div>
            <div>
                <p>FirstName : {{ contact.firstName }}</p>
            </div>
            <div>
                <p>LastName : {{ contact.lastName }}</p>
            </div>
            <div>
                <p>PhoneNumber : {{ contact.phoneNumber }}</p>
            </div>
            <div>
                <p>Email : {{ contact.email }}</p>
            </div>
            <div>
                <p>Status : {{ contact.status }}</p>
            </div>
 

    <a class="btn bg-primary col-2" href="{{ path('app_contact_index') }}">Revenir à la liste</a>

    <a class="btn bg-warning col-2" href="{{ path('app_contact_edit', {'id': contact.id}) }}">Modifier</a>

    {{ include('contact/_delete_form.html.twig') }}
  </div>
{% endblock %}
