<style>
a {
    color: black !important;
    text-decoration: none; /* Supprime le soulignement si nécessaire */
}


</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">Logo</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">



				{% if app.user %}
				
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="{{ path('app_product_index') }}">Stock</a>
						</li>					
						<li class="nav-item">
						<a class="nav-link" href="{{ path('app_event_detail_index') }}">Commande</a>
						</li>						
						<li class="nav-item">
						<a class="nav-link" href="{{ path('app_cart') }}">Prépa </a>
						</li>					
						<li class="nav-item">
						<a class="nav-link" href="{{ path('app_event_index') }}">Evenment </a>
						</li>					
						<li class="nav-item">
						<a class="nav-link" href="{{ path('app_site_event_index') }}">Site d'events</a>
						</li>				
						<li class="nav-item">
						<a class="nav-link" href="{{ path('app_contact_index') }}">Contact</a>
						</li>											
						<li class="nav-item">
						<a class="nav-link" href="{{ path('app_user_show' , {'id' : app.user.id}) }}">Profile</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="{{ path('app_galery_picture_index')}}">Picture</a>
						</li>					
						<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
						</li>
						
						{% if is_granted('ROLE_ADMIN') %}					
								<li class="nav-item">
								<a href="/admin">dashbord</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
								</li>					
						{% endif %}
				
				{% else %}
					
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
					</li>
					
				{% endif %}
				<li class="nav-item">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="darkMode">
						<label class="form-check-label" id="labelDarkMode" for="darkMode">Light mode</label>
					</div>
				</li>




			</>

		</div>
	</div>
</nav>

<script>
	// au chargement de la page, j'enlève la transition à mes éléments html pour ne pas avoir de transition
		// a chaque chargement de page et avoir un effet pénible qui passe du light mode au darkmode
		document.body.classList.add("no-transition");

		// si en session j'ai le darkMode je l'applique sur mon body
		if (localStorage.getItem("darkMode") === "enabled") {
			console.log("dark-mode")
			document.body.classList.add("dark-mode");
			document.getElementById("darkMode").checked = true;
			document.getElementById("labelDarkMode").innerHTML = "Dark Mode";
		}

		// Supprimer la classe 'no-transition' après un court délai
		// pour que la transition puisse s'appliquer onChange
		setTimeout(() => {
			document.body.classList.remove("no-transition");
		}, 20);

		// Une fois que le mode est appliqué, on affiche le contenu
    	document.body.classList.add("loaded");

		// je capte le moment ou j'active/désactive le darkMode
		document.getElementById("darkMode").addEventListener("change", function() {

				document.body.classList.toggle("dark-mode");

				// si mon body a la classe dark-mode
				// je le stock dans le cache du navigateur pour la prochaine page que je vais parcourir
				if (document.body.classList.contains("dark-mode")) {
					document.getElementById("labelDarkMode").innerHTML = "Dark Mode";
					localStorage.setItem("darkMode", "enabled");
				} else {
					document.getElementById("labelDarkMode").innerHTML = "Light Mode";
					localStorage.setItem("darkMode", "disabled");
				}

		});

	

</script>
