{% extends 'base.html.twig' %}

{% block title %}SpareParts index{% endblock %}

{% block body %}
    <h1>SpareParts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spare_part in spare_parts %}
            <tr>
                <td>{{ spare_part.id }}</td>
                <td>{{ spare_part.name }}</td>
                <td>{{ spare_part.reference }}</td>
                <td>{{ spare_part.description }}</td>
                <td>{{ spare_part.quantity }}</td>
                <td>{{ spare_part.picture }}</td>
                <td>
                    <a href="{{ path('app_spare_parts_show', {'id': spare_part.id}) }}">show</a>
                    <a href="{{ path('app_spare_parts_edit', {'id': spare_part.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_spare_parts_new') }}">Create new</a>
{% endblock %}
