{% extends 'base.html.twig' %}

{% block title %}Gestion des users{% endblock %}

{% block body %}

    <h2>Gestion des users</h2>

   <section class="table-responsive  ">
    <table class="table ">
        <thead>
            <tr>
                <th class="MyCell">Id</th>
                <th class="MyCell">Email</th>
                <th class="MyCell">Roles</th>
                <th class="MyCell">Password</th>
                <th class="MyCell">FirstName</th>
                <th class="MyCell">LastName</th>
                <th class="MyCell">DateEntry</th>
                <th class="MyCell">Status</th>
                <th class="MyCell">IsVerified</th>
                <th class="MyCell">actions</th>

            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="m-2">{{ user.id }}</td>
                <td class="m-2">{{ user.email }}</td>
                <td class="m-2">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="m-2">********</td>
                <td class="m-2">{{ user.firstName }}</td>
                <td class="m-2">{{ user.lastName }}</td>
                <td class="m-2">{{ user.dateEntry ? user.dateEntry|date('Y-m-d') : '' }}</td>
                <td class="m-2">{{ user.status }}</td>
                <td class="m-2">{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td class="m-3">
                    <div class="d-flex ">
                    <a class="btn bg-success mb-1" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a class="btn bg-warning mb-1" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    </div>
=======
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.dateEntry ? user.dateEntry|date('Y-m-d') : '' }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_user_new') }}">Créer
{% endblock %}
